.calendar
	width 100vw
	height 100%
	align-self center
	{$flex-row-wrap}
	align-items center
	justify-content center
	overflow-y auto
	& > p
		flex 0 1 75%
		color $white
		text-align center
	
.month-div
	list-style none
	max-height 100%
	flex 0 1 100%
	{$flex-row-wrap}
	align-items center
	justify-content center
	
	& > h1
		flex 0 1 40%
		text-align center
		margin 10px

.month-obj
	flex 0 1 97.5%
	height 100%
	margin 10px 0
	padding 0
	{$flex-row-wrap}
	color $white
	font-size 1rem

.month-obj__day-box,
.month-obj__last-day-box
	padding 1vw
	height (100/12)vmin
	flex 0 1 (100/6)%
	border 1px solid $black3
	margin 1px
	{$flex-center-everything}
	@media all and (orientation landscape)
		height (100/20)vmin
		flex 0 1 (100/8.7)%
		margin 1px
		
// .month-obj__last-day-box
// 	flex 0 1 (100/6)%
// 	@media all and (orientation landscape)
// 		flex 0 1 ((100/8)% + 0.5px)

.day-num-completed
	color $green
	font-size 1.5rem

.calendar__details
	flex 0 1 90%
	max-height 100%
	{$flex-center-everything}
	margin-bottom 15px
	
.calendar__details-close
	color $green
	padding 10px
	font-size 2rem
	text-decoration underline

.calendar__day-details-item
	flex 0 1 100%
	border 1px solid $white
	margin 5px
	padding 10px
	{$flex-row-wrap}
	justify-content space-around
	text-align center
	align-self flex-start
	transition 0.5s all
	& > h3
		flex 0 1 100%
		color $blue
		margin-bottom 5px
		
.calendar__day-details-timerName
	color $white
	font-size 1.5rem
	flex 0.5 1 45%
	
.calendar__day-details-delete
	color $red
	border 1px solid $red0
	padding 1px 3px
	font-size 1.5rem
	flex 0 1 30%
	{$flex-center-everything}
			
.calendar__help-text
	margin-top 15px

.calendar__arrow
	color $white
	font-size 1.5rem
