.app-completed-timers
	flex 0 1 97.5%
	// height 100%
	{$flex-col}
	// justify-content center
	align-items center

.completed-timers__completed-timers-heading
	align-self center
	text-align center
	flex 0 1
	margin-bottom 10px

.app-completed-timers__none-heading-div
	flex 1 1 100%
	{$flex-col}
	justify-content center
	align-items center
	
.completed-timers__no-timers-heading
	text-align center
	
.completed-timers__no-timers-link
	color $blue
	border-bottom 2px dotted $blue
	flex 0 1
	text-decoration-color $blue

.completed-timers__div
	{$flex-row-wrap}
	width 100%
	overflow-y auto
	align-items center

.completed-timers__timer-ul
	// min-height 12.5vh
	flex 1 1 100%
	margin 2.5px 0
	width 85%
	border 1px solid $white
	{$flex-row-wrap}
	justify-content space-around
	padding 10px
	
.completed-timers__timer-name
	color $blue
	align-self flex-start
	flex 1 1 80%
	text-align center
	font-size 1.5rem
	
.completed-timers__timer-date
	flex 0 1 50%
	color $white
	align-self center
	margin-top 7.5px

.completed-timers__remove-button
	{$button}
	flex 0 1 30%
	color $red
	border 1px solid $red
	padding 1px
	align-self center
	margin-top 7.5px
