.app-completed-timers
	flex 0 1 97.5%
	// height 100%
	// {$flex-col}
	{$flex-row-wrap}
	justify-content center
	align-items center

.completed-timers__completed-timers-heading
	align-self center
	text-align center
	flex 0 1 75%
	margin 2vmin 0 !important

.app-completed-timers__none-heading-div
	flex 1 1 100%
	{$flex-col}
	justify-content center
	align-items center
	
.completed-timers__no-timers-heading
	text-align center
	
.completed-timers__no-timers-link
	color $blue
	border-bottom 2px dotted $blue
	flex 0 1
	text-decoration-color $blue

.completed-timers__div
	{$flex-row-wrap}
	flex 0 1 100%
	overflow-y auto
	align-items center
	justify-content center

.completed-timers__timer-ul
	// min-height 12.5vh
	flex 1 1 100%
	margin 2.5px
	width 85%
	border 2px solid $black3
	{$flex-row-wrap}
	justify-content space-around
	align-items space-around
	padding 3vmin
	@media all and (orientation landscape)
		flex 1 1 40%
	
.completed-timers__timer-name
	color $blue
	align-self flex-start
	flex 1 1 80%
	text-align center
	font-size 1.5rem
	margin-bottom 2.5vmin
	
.completed-timers__timer-date
	flex 0 1 50%
	color $white
	align-self center
	margin-top 7.5px
	font-size 1.25rem

.completed-timers__remove-button
	{$button}
	flex 0 1 30%
	color $red
	border 1px solid $red
	padding 1vmin
	align-self center
	margin-top 7.5px
