.app-completed-timers
	flex 0 1 97.5%
	// height 100%
	{$flex-col}
	// justify-content center
	align-items center

.completed-timers__completed-timers-heading
	align-self center
	text-align center
	flex 0 1
	margin 0

.app-completed-timers__none-heading-div
	flex 1
	{$flex-col}
	// display flex
	// flex-direction column
	justify-content center
	align-items center
	
.completed-timers__no-timers-heading
	text-align center
	
.completed-timers__no-timers-link
	color $blue
	border-bottom 2px dotted $blue
	flex 0 1
	text-decoration-color $blue

.completed-timers__timer-ul
	flex 0 1 65px
	width 75%
	margin 10px 0
	border 2px solid $white
	{$flex-row-wrap}
	justify-content space-around
	padding 10px
	
.completed-timers__timer-name
	color $blue
	align-self flex-start
	flex 0 1 80%
	text-align center
	font-size 1.5rem
	
.completed-timers__timer-date
	flex 0 1 50%
	color $white
	align-self center

.completed-timers__remove-button
	{$button}
	flex 0 1 20%
	color $red
	border 1px solid $red
	padding 5px
	align-self center
