.app-confirm-logout
	position fixed
	left 0
	right 0
	top 25vh
	height 20vh
	// margin 0 auto
	background-color $black4
	border 5px solid $red
	{$flex-row-wrap}
	align-items center
	justify-content space-around
	
.confirm-logout__heading
	flex 0 1 95%
	text-align center
	color $black1 !important

.confirm-logout__button
	{$button}
	flex 0 1 30%
	align-self center

.confirm-logout__yes
	border-color $green
	color $green
	
.confirm-logout__no
	border-color $red
	color $red
