.app-create-timer
	flex 0 1 97.5%
	{$flex-col}
	overflow-y auto
	height 100%
	align-items center
	justify-content space-around

.create-timer-heading
	align-self center
	text-align center
	flex 1

.create-timer-form
	color $white
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content space-around
	align-self flex-start
	margin 0

.create-timer-label
	flex 1 1 30%
	margin-right 2vw
	font-size 1.15rem
	font-family $content
	display flex
	align-items center
	justify-content flex-end
	text-align right
	
.question-mark
	color $blue
	text-decoration underline
	flex 0 1 100%

	
.create-timer-input
	flex 0 1 55%
	{$input}
	margin 0 !important

.create-timer-form-section
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content space-around
	align-items center

.create-timer-button
	flex 0 1 47.5%
	{$button}
	font-size 0.8rem
	margin-bottom 15px

.create-timer__total-time
	margin 20px 0
	align-items center
	justify-content space-around
	& > h2
		flex 0 1 35%
	&::before
		content ''
		width 100%
		border-top 0.1rem solid $white
	&::after
		content ''
		width 100%
		border-top 0.1rem solid $white

.total-time-span
	flex 0 1 50%
	font-size 1.25rem
	color $pink
	
.rest-increment-explanation-overlay
	overflow-y auto !important
	position fixed
	top 0
	left 0
	height 100vh
	z-index 1000
	width 100vw
	background-color rgba(112, 112, 112, 0.8)
	{$flex-center-everything}

.rest-increment-explanation
	overflow-y auto
	padding 5px
	flex 0 1 80%
	max-height 65%		
	position relative
	// height 20vmax
	// margin 0 auto
	background-color $black2
	border 3px solid $red
	{$flex-row-wrap}
	align-items center
	justify-content center
	z-index 1001
	opacity 1 !important
	& h2
		flex 0 1 100%
		text-align center
		margin-bottom 10px
	& > *
		flex 0 1 95%
		{$flex-row-wrap}
		justify-content center
		text-align left
		
.rest-increment-explanation-example
	{$flex-center-everything}
	
.close-explanation
	flex 0 1 20%
	padding 2.5px
	margin 5px 0
	border 1px solid $red !important
	color $red
	text-align center !important
