.app-create-timer
	flex 0 1 97.5%
	{$flex-col}
	overflow-y auto
	align-items flex-start
	justify-content center

.create-timer-heading
	align-self center
	text-align center
	flex 0 1 8%

.create-timer-form
	color $white
	flex 0 1 90%
	{$flex-row-wrap}
	justify-content space-around
	align-self flex-start
	margin 0

.create-timer-label
	flex 1 1 30%
	margin-right 2vw
	font-size 1.15rem
	font-family $content
	display flex
	align-items center
	justify-content flex-end
	text-align right
	
.question-mark
	color $blue
	text-decoration underline
	flex 0 1 100%

	
.create-timer-input
	flex 0 1 55%
	{$input}
	margin 0 !important

.create-timer-form-section
	flex 0 1 100%
	margin 5px
	{$flex-row-wrap}
	justify-content space-around
	align-items center

.create-timer-button
	flex 0 1 47.5%
	{$button}
	font-size 0.8rem
	margin-bottom 15px

.create-timer__total-time
	margin 20px 0
	align-items center
	justify-content space-around
	& > h2
		flex 0 1 35%
	&::before
		content ''
		width 100%
		border-top 0.1rem solid $white
	&::after
		content ''
		width 100%
		border-top 0.1rem solid $white

.total-time-span
	flex 0 1 50%
	font-size 1rem
	color $pink
	
.rest-increment-explanation-overlay
	position fixed
	top 0
	left 0
	height 100vh
	z-index 1000
	width 100vw
	background-color rgba(112, 112, 112, 0.8)

.rest-increment-explanation
	position fixed
	left 10%
	right 10%
	top 15vh
	padding 15px
	// height 20vmax
	margin 0 auto
	background-color $black2
	border 3px solid $red
	{$flex-row-wrap}
	align-items center
	justify-content center
	z-index 1001
	opacity 1 !important
	& > *
		flex 0 1 95%
		{$flex-row-wrap}
		justify-content center
		text-align left
		
.rest-increment-explanation-example
	{$flex-row-wrap}
	align-items center
	justify-content cebnter
	& > h2
		flex 0 1 100%
		text-align center
		margin-bottom 5px
	// & > ul
	// 	padding 0
	// 	margin 0
	
.close-explanation
	flex 0 1 20%
	padding 2.5px
	border 1px solid $white !important
	text-align center !important
