.footer
	// align-self flex-end
	position fixed
	bottom 0
	// height 6.5vh
	font-size 2rem
	{$flex-row-wrap}
	justify-content space-between
	width 100%

.footer-item
	flex 1 1
	text-align center
	color $white
	background-color $black0
	display flex
	align-items center
	justify-content center
	transition 0.5s all ease
	&:active,
	&:focus
		color $white
		text-decoration none
		background-color $black3
	height 5vh
	@media all and (orientation landscape)
		height 6.5vh


.footer-image
	flex 0 1 25% !important
	// max-width 25%
	max-height 50%
	@media all and (orientation landscape)
		flex 0 1 17.5% !important
