.footer
	// align-self flex-end
	position fixed
	bottom 0
	// height 6.5vh
	font-size 1rem
	{$flex-row-wrap}
	justify-content space-between
	z-index 1
	width 100%

.footer-item
	flex 1 1
	text-align center
	color $black4
	background-color $black0
	display flex
	align-items center
	justify-content center
	transition 0.5s all ease
	&:active,
	&:focus
		color $white
		text-decoration none
		background-color $black3
	height 5vh
	@media all and (orientation landscape)
		height 6.5vh
