.app-footer
	align-self flex-end
	width 100%
	font-size 0.9rem
	{$flex-row-wrap}
	justify-content space-around

.footer-item
	flex 0 1 40%
	margin-bottom 10px
	text-align center
	color black
	background-color yellow
	padding 10px
