.app-header
	margin-top 10px
	display flex
	flex 0 1 100%
	justify-content space-around
	align-self flex-start

.header-link
	// border 2px solid red
	flex 0 1 (100%/7)
	font-size 0.9rem
	text-align center

.header-logout-button
	color red
