.app-login
	height 100% !important
	{$flex-col}
	align-items center
	justify-content center
	
.login-title
	flex none
	line-height 6rem !important
	text-align center
	font-size 6rem !important
	margin 20px !important

.login-facebook,
.login-google
	width 60%
	flex 0 1 15vmin
	margin 5px
	border-radius 5px
	border 0
	font-size 1rem
	padding 0px 15px

.login-create-account
	color $blue
	&:hover
		text-decoration underline
		cursor pointer

.login-manual
	color $red
	
.login-p
	font-size 1.5rem
	width 80%
	text-align center
	color $black4
	
.login-account__overlay
	position fixed
	top 0
	// left 0
	height 100vh
	z-index 1000
	width 100vw
	background-color rgba(112, 112, 112, 0.8)

.login-manual-account__form
	position fixed
	left 5%
	right 5%
	top 15vh
	// height 20vmax
	margin 0 auto
	background-color $black1
	border 3px solid $green
	{$flex-row-wrap}
	align-items center
	justify-content space-around
	z-index 1001
	padding 15px
	& > h1
		flex 0 1 100%
		text-align center
		margin 2vh
		
.login-create-account__label
	flex 0 1 30%
	text-align right
	margin-right 5px
	color $white
	margin-bottom 1.5vh !important
	
.login-manual-account__input
	{$input}
	// padding 2px
	margin-bottom 1.5vh !important
	flex 0.25 1 60%
	&:focus
		margin-bottom 1.5vh !important

.login-manual-account__button
	margin-top 25px
	{$button}
	flex 0 1 75%

#password-visibility
	text-decoration underline
	font-size 1rem

.login-hide-form
	padding 1px
	background-color transparent
	position absolute
	right 5px
	bottom 2.5px
	font-weight bold
	font-size 1.5rem
	color $red
