.app-login
	align-self center
	{$flex-col-wrap}
	align-items center
	justify-content space-between

.login-facebook,
.login-google
	width 60%
	flex 0 1 50px
	margin 5px
	border-radius 5px
	border 0
	font-size 1rem
	padding 0px 15px

.login-create-account
	color blue
	&:hover
		text-decoration underline
		cursor pointer

.login-p
	font-size 1rem
	width 60%
	text-align center
