.app-profile
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content center
	align-items space-around

.profile-photo > img
	border-radius 50%
	width 450px

.profile-photo
	flex 0 1 50%
		
.profile-info
	flex 0 1 45%
	font-size 1.25rem
	& > p
		margin 15px
	
// [class^="profile-"]
// 	
