.app-profile
	overflow-y auto
	display flex
	align-items flex-start

.app-profile__edit,
.app-profile__static
	// max-height 90%
	{$flex-row-wrap}
	justify-content center
	align-items space-around
	overflow-y auto
	margin 15px 0
	
.profile-photo
	flex 0 1 80%
	{$flex-center-everything}
	justify-content center
	margin-bottom 2vmin
	& > img
		border-radius 5px
		
.profile-info
	flex 0 1 80%
	{$flex-row-wrap}
	color $white
	align-items center
	& > p
		padding 3vmin
		font-size 1.15rem
		flex 0 1 100%
		background-color $black1
		
.profile-info-form
	flex 0 1 97.5%
	{$flex-row-wrap}
	align-items center
	justify-content center
	
.profile-edit__section
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content space-around
	align-items center
	margin 5px 0

.profile-edit-button,
.profile-save-button
	flex 0 1 75%
	{$button}
	padding 5px
	margin-top 15px !important
	&:active,
	&:focus
		outline none !important
		box-shadow 0px 0px 1px 1px $white
	
.profile-label
	flex 0 1 35%
	font-size 1rem
	text-align right
	color $black4
	@media all and (orientation: landscape)
		flex 0 1 25%
	
.profile-input
	flex 0 1 55%
	{$input}
	height 6vmax !important
	@media all and (orientation: landscape)
		flex 0 1 65%

// .profile-save-button
// 	flex 0 1 75%
// 	{$button}
// 	margin-top 10px
// 	&:active,
// 	&:focus
// 		outline none !important
// 		box-shadow 0px 0px 1px 1px $white

.visibility-toggle
	flex 0 1 55%
	padding 6px
	border-radius 2px
	display flex
	align-items center
	justify-content center
	transition 0.5s all
	@media all and (orientation: landscape)
		flex 0 1 65%
	
