.app-profile
	{$flex-col}

.app-profile__edit,
.app-profile__static
	// height 100%
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content center
	align-items space-around
	overflow-y auto
	padding 10px 0
	
.profile-photo
	flex 0 1 80%
	display flex
	justify-content center
	margin-bottom 20px
 & > img
	border-radius 25%
	flex 0 1 125px !important
		
.profile-info
	flex 0 1 80%
	{$flex-row-wrap}
	color $white
	align-items center
	& > p
		padding 10px
		font-size 1.15rem
		flex 0 1 100%
		background-color $black2
		
.profile-info-form
	flex 0 1 97.5%
	{$flex-row-wrap}
	align-items center
	justify-content space-between
	
.profile-edit__section
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content space-around
	align-items center
	margin 5px 0

.profile-button
	flex 0 1 75%
	{$button}
	margin-top 15px
	// color $white
	// font-size 1.25rem
	// border 2px solid $white
	// padding 10px
	// background-color transparent
	align-self flex-end
	&:active,
	&:focus
		outline none !important
		box-shadow 0px 0px 1px 1px $white
	
.profile-label
	flex 0 1 25%
	font-size 0.9rem
	text-align right
	color $black4
	
.profile-input
	flex 0 1 65%
	{$input}
	height 6vmax !important

.profile-save-button
	flex 0 1 75%
	{$button}
	
	// align-self flex-end
	// color $white
	// font-size 1.25rem
	// border 2px solid $white
	// padding 10px
	// background-color transparent
	// align-self flex-end
	&:active,
	&:focus
		outline none !important
		box-shadow 0px 0px 1px 1px $white

.visibility-toggle
	flex 0 1 65%
	padding 6px
	border-radius 2px
	display flex
	align-items center
	justify-content center
	transition 0.5s all
	
