.app-run-timer
	{$flex-col}
	flex 0 1 97.5%
	align-items center
	// justify-content space-around

.run-timer__timer-totals
	{$flex-row-wrap}
	justify-content center
	color $white
	// flex 1
	& > h1
		flex 0 1 80%
		text-align center
		margin 15px 0
	
.run-timer__timer-totals-ul
	margin 0
	padding 0
	flex 0 1 85%
	{$flex-row-wrap}
	justify-content center
	& > li
		padding 10px
		font-size 1.15rem
		flex 0 1 100%
		background-color $black2
		margin 5px 0
		{$flex-row-wrap}
		align-items center
		// justify-content value

.timer-totals__label
	font-weight bold
	color $blue
	flex 0 1 50%
	text-align right
	margin-right 10px
	
.timer-totals__value
	flex 0.5 1 40%

.run-timer__buttons-div
	{$flex-row-wrap}
	margin 10px 0
	// flex 1
	width 100%
	align-self center
	justify-content space-around

.run-timer__button
	{$button}
	flex 0 1 30%

.run-timer__timer
	color $white

.run-timer__timer-circle
	flex 0 1 30%
	border 2px solid $white
	border-radius 50%
	width 60%
