.app-run-timer
	{$flex-row-wrap}
	flex 0 1 97.5%
	align-items center
	justify-content space-around
	height 100%
	overflow-y auto

.run-timer__timer-totals
	{$flex-row-wrap}
	justify-content center
	align-items flex-start
	color $white
	flex 0 1 100%
	& > h1
		flex 0 1 80%
		text-align center
		align-self flex-start
		margin-bottom 20px
	
.run-timer__timer-totals-ul
	margin 0
	padding 0
	flex 0 1 100%
	{$flex-row-wrap}
	justify-content space-around
	align-self center
	& > li
		padding 2.5px
		flex 0.25 1 20%
		background-color $black2
		margin 5px 0
		{$flex-row-wrap}
		align-items center
		@media all and (orientation landscape)
			flex 0 1 30%
		// justify-content value

.timer-totals__label
	font-weight bold
	color $blue
	flex 0 1 100%
	text-align center
	font-size 1.35rem
	margin-bottom 15px !important
	// @media all and (orientation landscape)
	// 	margin 0
	// 	text-align center
	
.timer-totals__value
	flex 0 1 100%
	font-size 1.25rem
	text-align center
		
.run-timer__button
	{$button}
	flex 0 1 30%

.run-timer__timer-circle
	// flex 0 1 35%
	max-width 80%
	// height 30%
	border 5px solid $white
	border-radius 50%
	@media all and (orientation portrait)
		margin 5px 0
		height 30%
	@media all and (orientation landscape)
		height 40%
	@media all and (min-width 768px)
		height 40%
		@media all and (orientation landscape)
			flex 0 1 50%
			height 50%

.run-timer__timer-data
	flex 0 1 80%
	// border 1px solid red
	color $white
	{$flex-row-wrap}
	align-items center
	justify-content center
	& > *
		flex 0 1 100%
		text-align center
		align-self center
	@media all and (orientation landscape)
		align-items space-around
		flex 0 1 40%
		min-height 40%

.run-timer__timer-data-label
	background-color $black0
	margin-bottom 10px !important
	padding 2vmin
	font-size 1.25rem
	flex 0 1 100%
	margin 0
	@media all and (min-width 1024px)
		font-size 1.5rem
	// {$flex-row-wrap}
	// align-items center
