.app-settings
	{$flex-col}
	width 97.5%
	align-items center
	justify-content flex-start
	
.settings-div
	width 100%
	flex 0.25 1
	{$flex-row-wrap}
	justify-content space-between
	align-items center
	color $black4

.settings-label
	font-size 1.5rem
	flex 0 1 40%
	text-align right
	margin 0 !important

.settings-input
	{$input}
	flex 0 1 50%

.settings-heading
	width 90%
	margin-bottom 25px
	color $white
	text-align center
	line-height 2.5rem
	margin-top 5vh !important
	// & > span
	// 	color $pink
