.app-settings
	margin-top 4vh
	{$flex-col}
	width 97.5%
	align-items center
	justify-content center
	
.settings-div
	width 90%
	flex 0 1 10%
	margin 15px
	{$flex-row-wrap}
	justify-content space-between
	align-items center
	color $black4

.settings-label
	font-size 1.25rem
	flex 0 1 40%
	text-align right

.settings-input
	{$input}
	flex 0 1 50%

.settings-description
	font-size 1.5rem
	margin-bottom 25px
	color $white
	text-align center
	line-height 1.5rem
	& > span
		color $pink
