.app-settings
	{$flex-col}
	width 97.5%
	align-items center
	justify-content flex-start
	
.settings-div
	width 100%
	flex 0.25 1
	{$flex-row-wrap}
	justify-content space-around
	align-items center
	color $black4
	margin 5px

.settings-label
	font-size 1.5rem
	flex 0.25 1 25%
	text-align right
	margin 0 10px 0 0 !important

.settings-input
	{$input}
	flex 0.5 1 50%

.settings-heading
	width 90%
	color $white
	text-align center
	line-height 2.5rem
	margin 5vh 0 !important
	// & > span
	// 	color $pink
