
span
	font-size 1rem

@require './_variables.styl'
@require './_*.styl'

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

@media all and (max-width 1024px)
	html
		font-size 22px
		*
			line-height 2rem !important
@media all and (orientation landscape)
	html
		font-size 18px

@media all and (max-width 736px)
	html
		font-size 18px
		*
			line-height 2rem !important
	@media all and (orientation landscape)
		html
			font-size 16px

@media all and (max-width 667px)
	html
		font-size 16px
		*
			line-height 2rem !important
	@media all and (orientation landscape)
		html
			font-size 14px

@media all and (max-width 568px)
	html
		font-size 12px
		*
			line-height 2rem !important
	@media all and (orientation landscape)
		html
			font-size 10px

body {
	background-color $black2
}

* {
	margin 0
	padding 0
	font-family $content
	overflow-scrolling touch
	-webkit-overflow-scrolling touch
}

h1
	font-size 2rem !important
	font-family $title
	color $white
	margin 0
	line-height 2.25rem !important
	
h2
	font-size 1.75rem !important
	font-family $title
	color $white
	margin 0
	line-height 2.25rem !important
	
h3
	font-size 1.5rem !important
	font-family $title
	color $white
	margin 0
	line-height 2.25rem !important

h4
	font-size 1.25rem !important
	font-family $title
	color $white
	margin 0
	line-height 2.25rem !important
	
[class$="heading"]
	margin 5px 0
	
[class^="app-"]
	max-height 100%
	overflow-y auto
	
.page-content
	position fixed
	// {$flex-col}
	display flex
	// overflow hidden
	width 100%
	justify-content center
	align-items flex-start
	top $header-height
	bottom $footer-height
	// overflow-y auto
	@media all and (orientation landscape)
		top $header-height-landscape
		bottom $footer-height-landscape
				
label
	font-family $title


	
ul
	list-style none

.react-root
	height 100vh

		
.form-label
	flex 0 1 25%

.edit-timer
	cursor pointer
	color blue
	&:hover
		text-decoration underline

.delete-timer
	cursor pointer
	color red
	&:hover
		text-decoration underline
		
.start-timer
	cursor pointer
	color green
	&:hover
		text-decoration underline
		
.save-timer
	flex 0 1 80%
	cursor pointer

.line-across
	border 3px solid black
