@require './_variables.styl'
@require './_*.styl'

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

* {
	margin 0
	padding 0
	font-family Lato
	line-height 1.25rem
}

#root
	{$flex-row-wrap}

// [class^="app"]
// 	{$flex-row-wrap}

[class$="title"]
	font-family "Open Sans"

.new-timer
	{$flex-row-wrap}
	// border 1px solid red
	& > input
		flex 0 1 50%
		
.form-label
	flex 0 1 25%

.edit-timer
	cursor pointer
	color blue
	&:hover
		text-decoration underline

.delete-timer
	cursor pointer
	color red
	&:hover
		text-decoration underline
		
.start-timer
	cursor pointer
	color green
	&:hover
		text-decoration underline
	
		
.save-timer
	flex 0 1 80%
	cursor pointer

.line-across
	border 3px solid black
