.new-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.new-timer > input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.form-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.edit-timer {
  cursor: pointer;
  color: #00f;
}
.edit-timer:hover {
  text-decoration: underline;
}
.delete-timer {
  cursor: pointer;
  color: #f00;
}
.delete-timer:hover {
  text-decoration: underline;
}
.start-timer {
  cursor: pointer;
  color: #008000;
}
.start-timer:hover {
  text-decoration: underline;
}
.save-timer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  cursor: pointer;
}
.line-across {
  border: 3px solid #000;
}
