.new-timer
	display flex
	flex-wrap wrap
	// border 1px solid red
	& > input
		flex 0 1 50%
		
.form-label
	flex 0 1 25%

.edit-timer
	cursor pointer
	color blue
	&:hover
		text-decoration underline

.delete-timer
	cursor pointer
	color red
	&:hover
		text-decoration underline
		
.start-timer
	cursor pointer
	color green
	&:hover
		text-decoration underline
	
		
.save-timer
	flex 0 1 80%
	cursor pointer

.line-across
	border 3px solid black
