span {
  font-size: 1rem;
}
.calendar {
  width: 100vw;
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}
.calendar > p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  color: #dbcdc9;
  text-align: center;
}
.month-div {
  list-style: none;
  max-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.month-div > h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  text-align: center;
  margin: 10px;
}
.month-obj {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  height: 100%;
  margin: 10px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #dbcdc9;
  font-size: 1rem;
}
.month-obj__day-box,
.month-obj__last-day-box {
  padding: 1vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666666666666668%;
          flex: 0 1 16.666666666666668%;
  border: 1px solid #474646;
  margin: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (orientation: portrait) {
  .month-obj__day-box,
  .month-obj__last-day-box {
    height: 8.333333333333334vmin;
  }
}
@media all and (orientation: landscape) {
  .month-obj__day-box,
  .month-obj__last-day-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 11.49425287356322%;
            flex: 0 1 11.49425287356322%;
    margin: 1px;
  }
}
.day-num-completed {
  color: #34995f;
  font-size: 1.5rem;
}
.calendar__details {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.calendar__details-close {
  color: #34995f;
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
}
.calendar__day-details-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  border: 1px solid #dbcdc9;
  margin: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  transition: 0.5s all;
}
.calendar__day-details-item > h3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #a5b6c9;
  margin-bottom: 5px;
}
.calendar__day-details-timerName {
  color: #dbcdc9;
  font-size: 1.5rem;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 1 45%;
          flex: 0.5 1 45%;
}
.calendar__day-details-delete {
  color: #b7402c;
  border: 1px solid #7a2b1d;
  padding: 1px 3px;
  font-size: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calendar__help-text {
  margin-top: 15px;
}
.calendar__arrow {
  color: #dbcdc9;
  font-size: 1.5rem;
}
.app-completed-timers {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.completed-timers__completed-timers-heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  margin: 2vmin 0 !important;
}
.app-completed-timers__none-heading-div {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.completed-timers__no-timers-heading {
  text-align: center;
}
.completed-timers__no-timers-link {
  color: #a5b6c9;
  border-bottom: 2px dotted #a5b6c9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  -webkit-text-decoration-color: #a5b6c9;
          text-decoration-color: #a5b6c9;
}
.completed-timers__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.completed-timers__timer-ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 2.5px;
  width: 85%;
  border: 2px solid #474646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  padding: 3vmin;
}
@media all and (orientation: landscape) {
  .completed-timers__timer-ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}
.completed-timers__timer-name {
  color: #a5b6c9;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5vmin;
}
.completed-timers__timer-date {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #dbcdc9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 7.5px;
  font-size: 1.25rem;
}
.completed-timers__remove-button {
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  color: #b7402c;
  border: 1px solid #b7402c;
  padding: 1vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 7.5px;
}
.completed-timers__remove-button:active,
.completed-timers__remove-button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
.app-confirm-logout {
  position: fixed;
  left: 5%;
  right: 5%;
  top: 25vh;
  height: 20vmax;
  margin: 0 auto;
  background-color: #090f12;
  border: 3px solid #b7402c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1001;
  opacity: 1 !important;
}
.confirm-logout__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95%;
          flex: 0 1 95%;
  text-align: center;
  color: #dbcdc9;
}
.confirm-logout__button {
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.confirm-logout__button:active,
.confirm-logout__button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
.confirm-logout__yes {
  border-color: #34995f;
  color: #34995f;
}
.confirm-logout__no {
  border-color: #b7402c;
  color: #b7402c;
}
.confirm-logout__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: 100vw;
  background-color: rgba(112,112,112,0.8);
}
.app-create-timer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.create-timer-heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.create-timer-form {
  color: #dbcdc9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
}
.create-timer-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-right: 2vw;
  font-size: 1.15rem;
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}
.question-mark {
  color: #a5b6c9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.create-timer-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  height: 6vmax !important;
  border-radius: 2px !important;
  border: 1px solid #dbcdc9 !important;
  background-color: transparent !important;
  color: #ab8b82 !important;
  margin: 0 !important;
  font-size: 1rem !important;
  margin: 5px 0 !important;
  height: 4vmax !important;
}
.create-timer-input:focus,
.create-timer-input:active {
  color: #dbcdc9 !important;
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9 !important;
  margin: 0 !important;
}
.create-timer-input::-moz-selection {
  background-color: #fff;
  color: #282828;
}
.create-timer-input::selection {
  background-color: #fff;
  color: #282828;
}
.create-timer-input:active,
.create-timer-input:focus {
  margin: 5px 0 !important;
}
.create-timer-form-section {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95%;
          flex: 0 1 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.create-timer-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.5%;
          flex: 0 1 47.5%;
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  font-size: 0.8rem;
  margin-bottom: 15px;
}
.create-timer-button:active,
.create-timer-button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
.create-timer__total-time {
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.create-timer__total-time > h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}
.create-timer__total-time::before {
  content: '';
  width: 100%;
  border-top: 0.1rem solid #dbcdc9;
}
.create-timer__total-time::after {
  content: '';
  width: 100%;
  border-top: 0.1rem solid #dbcdc9;
}
.total-time-span {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 1.25rem;
  color: #ab8b82;
}
.rest-increment-explanation-overlay {
  overflow-y: auto !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: 100vw;
  background-color: rgba(112,112,112,0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rest-increment-explanation {
  overflow-y: auto;
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  max-height: 65%;
  position: relative;
  background-color: #282828;
  border: 3px solid #b7402c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1001;
  opacity: 1 !important;
}
.rest-increment-explanation h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
  margin-bottom: 10px;
}
.rest-increment-explanation > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95%;
          flex: 0 1 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}
.rest-increment-explanation-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.close-explanation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 2.5px;
  margin: 5px 0;
  border: 1px solid #b7402c !important;
  color: #b7402c;
  text-align: center !important;
}
.error-page {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error-page__header {
  width: 100%;
  margin-bottom: 2vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  text-align: center;
}
.error-page__p {
  color: #dbcdc9;
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  font-size: 1.25rem;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: center;
  color: #dbcdc9;
  background-color: #090f12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.5s all ease;
  height: 6.5vh;
}
.footer-item:active,
.footer-item:focus {
  color: #dbcdc9;
  text-decoration: none;
  background-color: #474646;
}
@media all and (orientation: landscape) {
  .footer-item {
    height: 9vh;
  }
}
.footer-image {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 25% !important;
          flex: 0 1 25% !important;
  max-height: 50%;
}
@media all and (orientation: landscape) {
  .footer-image {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 17.5% !important;
            flex: 0 1 17.5% !important;
  }
}
.header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #090f12;
  z-index: 1;
}
.header-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  font-size: 1rem;
  color: #a5a5a5;
  font-family: Lato;
  transition: 0.5s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4vh;
}
@media all and (orientation: landscape) {
  .header-link {
    height: 7vh;
  }
}
.header-logout-button {
  color: #dbcdc9;
  background-color: #7a2b1d;
}
.header-back-button {
  color: #dbcdc9;
  font-size: 1.5rem;
}
.app-home {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
}
@media all and (orientation: landscape) {
  .app-home {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.home__recent-timers,
.home__favorite-timers {
  color: #dbcdc9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media all and (orientation: portrait) {
  .home__recent-timers,
  .home__favorite-timers {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 97.5%;
            flex: 0 1 97.5%;
  }
}
.home__recent-timers > h1,
.home__favorite-timers > h1 {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 15px 0 !important;
}
.home__recent-timers-ul,
.home__favorite-timers-ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home__recent-timers-li,
.home__favorite-timers-li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #dbcdc9;
  margin: 2vmin 0;
  padding: 4vmin;
  background-color: #161616;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__recent-timers-li > span,
.home__favorite-timers-li > span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.home__recent-timers-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 30%;
          flex: 0 30%;
  font-size: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.home__recent-timers-timer-name,
.home__recent-timers-info-timerName,
.home__favorite-timers-timer-name {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 100% !important;
          flex: 0 1 100% !important;
  text-align: center;
  font-weight: bold;
  color: #a5b6c9;
  font-size: 1.5rem;
  margin-bottom: 3vmin;
}
.home__favorite-timers-timer-text {
  color: #a5a5a5;
  font-size: 1.35rem;
}
.home__favorite-timers-timer-name-link {
  color: #dbcdc9;
  border-bottom: 1px dotted #dbcdc9;
}
.home__recent-timers-hide-info {
  padding: 1px;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #b7402c;
}
.home__recent-timers-info-totalTime {
  font-weight: bold;
  margin-top: 5px;
  font-size: 1.5rem;
  color: #34995f;
}
.home__favorite-timers-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__favorite-timers-li > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.home__recent-timers-start-button,
.home__recent-timers-info-button {
  padding: 2px;
  text-align: center;
  font-size: 1rem;
}
.home__recent-timers-info-button {
  margin-right: 10px;
  border: 1px solid #dbcdc9;
  color: #dbcdc9;
}
.home__recent-timers-start-button {
  border: 1px solid #34995f;
  color: #34995f;
}
.logging-in {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logging-in > h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95%;
          flex: 0 1 95%;
  text-align: center;
  font-size: 4rem;
}
.app-login {
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-title {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  line-height: 6rem !important;
  text-align: center;
  font-size: 6rem !important;
  margin: 20px !important;
}
.login-facebook,
.login-google {
  width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15vmin;
          flex: 0 1 15vmin;
  margin: 5px;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  padding: 0px 15px;
}
.login-create-account {
  color: #a5b6c9;
  font-size: 1.5rem;
}
.login-create-account:hover {
  text-decoration: underline;
  cursor: pointer;
}
.login-manual {
  color: #b7402c;
  font-size: 1.5rem;
}
.login-p {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  color: #a5a5a5;
}
.login-account__overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1000;
  width: 100vw;
  background-color: rgba(112,112,112,0.8);
}
.login-manual-account__form {
  position: fixed;
  left: 5%;
  right: 5%;
  top: 15vh;
  margin: 0 auto;
  background-color: #161616;
  border: 3px solid #34995f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1001;
  padding: 15px;
}
.login-manual-account__form > h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
  margin: 2vh;
}
.login-create-account__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  text-align: right;
  margin-right: 5px;
  color: #dbcdc9;
  margin-bottom: 1.5vh !important;
}
.login-manual-account__input {
  height: 6vmax !important;
  border-radius: 2px !important;
  border: 1px solid #dbcdc9 !important;
  background-color: transparent !important;
  color: #ab8b82 !important;
  margin: 0 !important;
  font-size: 1rem !important;
  margin-bottom: 1.5vh !important;
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25 1 60%;
          flex: 0.25 1 60%;
}
.login-manual-account__input:focus,
.login-manual-account__input:active {
  color: #dbcdc9 !important;
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9 !important;
  margin: 0 !important;
}
.login-manual-account__input::-moz-selection {
  background-color: #fff;
  color: #282828;
}
.login-manual-account__input::selection {
  background-color: #fff;
  color: #282828;
}
.login-manual-account__input:focus {
  margin-bottom: 1.5vh !important;
}
.login-manual-account__button {
  margin-top: 25px;
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}
.login-manual-account__button:active,
.login-manual-account__button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
#password-visibility {
  text-decoration: underline;
  font-size: 1rem;
}
.login-hide-form {
  padding: 1px;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 2rem;
  color: #b7402c;
}
.app-profile {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app-profile__edit,
.app-profile__static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  overflow-y: auto;
  margin: 15px 0;
}
.profile-photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  margin-bottom: 2vmin;
}
.profile-photo > img {
  border-radius: 5px;
}
.profile-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #dbcdc9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-info > p {
  padding: 3vmin;
  font-size: 1.15rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background-color: #161616;
}
.profile-info-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile-edit__section {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}
.profile-edit-button,
.profile-save-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  padding: 5px;
  margin-top: 15px !important;
}
.profile-edit-button:active,
.profile-save-button:active,
.profile-edit-button:focus,
.profile-save-button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
.profile-edit-button:active,
.profile-save-button:active,
.profile-edit-button:focus,
.profile-save-button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
.profile-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  font-size: 1rem;
  text-align: right;
  color: #a5a5a5;
}
@media all and (orientation: landscape) {
  .profile-label {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
.profile-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  height: 6vmax !important;
  border-radius: 2px !important;
  border: 1px solid #dbcdc9 !important;
  background-color: transparent !important;
  color: #ab8b82 !important;
  margin: 0 !important;
  font-size: 1rem !important;
  height: 6vmax !important;
}
.profile-input:focus,
.profile-input:active {
  color: #dbcdc9 !important;
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9 !important;
  margin: 0 !important;
}
.profile-input::-moz-selection {
  background-color: #fff;
  color: #282828;
}
.profile-input::selection {
  background-color: #fff;
  color: #282828;
}
@media all and (orientation: landscape) {
  .profile-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }
}
.visibility-toggle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  padding: 6px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.5s all;
}
@media all and (orientation: landscape) {
  .visibility-toggle {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }
}
.app-run-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  overflow-y: auto;
}
.run-timer__timer-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #dbcdc9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.run-timer__timer-totals > h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1vmin;
}
.run-timer__timer-totals-ul {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
}
.run-timer__timer-totals-ul > li {
  padding: 2.5px;
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25 1 20%;
          flex: 0.25 1 20%;
  background-color: #282828;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (orientation: landscape) {
  .run-timer__timer-totals-ul > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}
.timer-totals__label {
  font-weight: bold;
  color: #a5b6c9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
  font-size: 1.35rem;
  margin-bottom: 1vmin;
}
.timer-totals__value {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 1.25rem;
  text-align: center;
}
.run-timer__button {
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.run-timer__button:active,
.run-timer__button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
.run-timer__timer-circle {
  max-width: 80%;
  border: 5px solid #dbcdc9;
  border-radius: 50%;
}
@media all and (orientation: portrait) {
  .run-timer__timer-circle {
    margin: 5px 0;
    height: 35%;
  }
}
@media all and (orientation: landscape) {
  .run-timer__timer-circle {
    height: 45%;
  }
}
@media all and (min-width: 768px) {
  .run-timer__timer-circle {
    height: 40%;
  }
}
@media all and (min-width: 768px) and (orientation: landscape) {
  .run-timer__timer-circle {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    height: 50%;
  }
}
.run-timer__timer-data {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  color: #dbcdc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.run-timer__timer-data > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media all and (orientation: landscape) {
  .run-timer__timer-data {
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    min-height: 40%;
  }
}
.run-timer__timer-data-label {
  background-color: #090f12;
  margin-bottom: 10px !important;
  padding: 2vmin;
  font-size: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0;
}
@media all and (min-width: 1024px) {
  .run-timer__timer-data-label {
    font-size: 1.5rem;
  }
}
.app-saved-timers {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97.5%;
          flex: 0 1 97.5%;
  color: #dbcdc9;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 100%;
}
.saved-timers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.saved-timers__header > h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
  margin: 10px;
}
.saved-timers__search {
  height: 6vmax !important;
  border-radius: 2px !important;
  border: 1px solid #dbcdc9 !important;
  background-color: transparent !important;
  color: #ab8b82 !important;
  margin: 0 !important;
  font-size: 1rem !important;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  height: 2vmax !important;
  padding: 1.5vh !important;
  margin: 10px !important;
}
.saved-timers__search:focus,
.saved-timers__search:active {
  color: #dbcdc9 !important;
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9 !important;
  margin: 0 !important;
}
.saved-timers__search::-moz-selection {
  background-color: #fff;
  color: #282828;
}
.saved-timers__search::selection {
  background-color: #fff;
  color: #282828;
}
@media all and (orientation: landscape) {
  .saved-timers__search {
    height: 4vmax !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
.saved-timers__search:focus {
  margin: 10px !important;
}
.saved-timers__sort-button {
  color: #dbcdc9;
  border: 2px solid #dbcdc9;
  padding: 2vmin;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: Lato;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22.5%;
          flex: 0 1 22.5%;
  font-size: 1rem;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #dbcdc9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.saved-timers__sort-button:active,
.saved-timers__sort-button:focus {
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9;
}
@media all and (orientation: landscape) {
  .saved-timers__sort-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 15%;
            flex: 0 1 15%;
  }
}
.saved-timers__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.saved-timers__li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
  border: 2px solid #474646;
  padding: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.saved-timers__timer-name {
  font-size: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.saved-timers__option {
  margin: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.5%;
          flex: 0 1 42.5%;
  text-align: center;
  font-size: 1rem;
}
@media all and (orientation: landscape) {
  .saved-timers__option {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}
.saved-timers__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.saved-timers__start-timer {
  color: #34995f;
  border: 1px solid #34995f;
}
.saved-timers__delete-timer {
  color: #b7402c;
  border: 1px solid #b7402c;
}
.saved-timers__info {
  color: #dbcdc9;
  border: 1px solid #dbcdc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.saved-timers__edit-timer {
  color: #a5b6c9;
  border: 1px solid #a5b6c9;
}
.saved-timers__info-value,
.saved-timers__hide-info-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  font-size: 1rem;
  margin: 2px;
}
.saved-timers__hide-info-button {
  padding: 1px;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #b7402c;
}
.saved-timers__info-totalTime {
  font-weight: bold;
  font-size: 1.5rem;
  color: #34995f;
}
.saved-timers__no-timers {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #161616;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 50px;
}
.saved-timers__no-timers > * {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.saved-timers__no-timers > h1 {
  color: #b7402c;
  margin-bottom: 15px;
}
.saved-timers__no-timers > a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: #a5b6c9 !important;
}
.app-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97.5%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings-div {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a5a5a5;
  margin: 5px;
}
@media all and (orientation: landscape) {
  .settings-div {
    margin: 5px;
  }
}
.settings-label {
  font-size: 1.5rem;
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25 1 20%;
          flex: 0.25 1 20%;
  text-align: right;
  margin: 0 10px 0 0 !important;
}
@media all and (orientation: landscape) {
  .settings-label {
    -webkit-box-flex: 0.25;
        -ms-flex: 0.25 1 10%;
            flex: 0.25 1 10%;
  }
}
.settings-input {
  height: 6vmax !important;
  border-radius: 2px !important;
  border: 1px solid #dbcdc9 !important;
  background-color: transparent !important;
  color: #ab8b82 !important;
  margin: 0 !important;
  font-size: 1rem !important;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 1 25%;
          flex: 0.5 1 25%;
}
.settings-input:focus,
.settings-input:active {
  color: #dbcdc9 !important;
  outline: none !important;
  box-shadow: 0px 0px 1px 1px #dbcdc9 !important;
  margin: 0 !important;
}
.settings-input::-moz-selection {
  background-color: #fff;
  color: #282828;
}
.settings-input::selection {
  background-color: #fff;
  color: #282828;
}
@media all and (orientation: landscape) {
  .settings-input {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5 1 50%;
            flex: 0.5 1 50%;
  }
}
.settings-heading {
  width: 90%;
  color: #dbcdc9;
  text-align: center;
  line-height: 2.5rem;
  margin: 5vh 0 !important;
}
.settings-heading > span {
  color: #ab8b82;
  font-size: 2rem;
}
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");
@media all and (max-width: 1024px) {
  html {
    font-size: 22px;
  }
  html * {
    line-height: 2rem !important;
  }
}
@media all and (orientation: landscape) {
  html {
    font-size: 18px;
  }
}
@media all and (max-width: 736px) {
  html {
    font-size: 18px;
  }
  html * {
    line-height: 2rem !important;
  }
}
@media all and (max-width: 736px) and (orientation: landscape) {
  html {
    font-size: 16px;
  }
}
@media all and (max-width: 667px) {
  html {
    font-size: 16px;
  }
  html * {
    line-height: 2rem !important;
  }
}
@media all and (max-width: 667px) and (orientation: landscape) {
  html {
    font-size: 14px;
  }
}
@media all and (max-width: 568px) {
  html {
    font-size: 12px;
  }
  html * {
    line-height: 2rem !important;
  }
}
@media all and (max-width: 568px) and (orientation: landscape) {
  html {
    font-size: 10px;
  }
}
body {
  background-color: #282828;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
h1 {
  font-size: 2rem !important;
  font-family: Lato;
  color: #dbcdc9;
  margin: 0;
  line-height: 2.25rem !important;
}
h2 {
  font-size: 1.75rem !important;
  font-family: Lato;
  color: #dbcdc9;
  margin: 0;
  line-height: 2.25rem !important;
}
h3 {
  font-size: 1.5rem !important;
  font-family: Lato;
  color: #dbcdc9;
  margin: 0;
  line-height: 2.25rem !important;
}
h4 {
  font-size: 1.25rem !important;
  font-family: Lato;
  color: #dbcdc9;
  margin: 0;
  line-height: 2.25rem !important;
}
[class$="heading"] {
  margin: 5px 0;
}
[class^="app-"] {
  max-height: 100%;
  overflow-y: auto;
}
.page-content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 4vh;
  bottom: 6.5vh;
}
@media all and (orientation: landscape) {
  .page-content {
    top: 7vh;
    bottom: 9vh;
  }
}
label {
  font-family: Lato;
}
ul {
  list-style: none;
}
.react-root {
  height: 100vh;
}
.form-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.edit-timer {
  cursor: pointer;
  color: #00f;
}
.edit-timer:hover {
  text-decoration: underline;
}
.delete-timer {
  cursor: pointer;
  color: #f00;
}
.delete-timer:hover {
  text-decoration: underline;
}
.start-timer {
  cursor: pointer;
  color: #008000;
}
.start-timer:hover {
  text-decoration: underline;
}
.save-timer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  cursor: pointer;
}
.line-across {
  border: 3px solid #000;
}
